body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --darkPrimaryGreen: #314b14;
  --lightPrimaryGreen: #35cf58;
  --darkSecondaryGreen: #eefeed;
  --lightSecondaryGreen: #f8fff8;
  --dark: black;
}
